services:
  # ---------------------------------------------------------
  # SCADA Master (The Client polling the network)
  # ---------------------------------------------------------
  scada_master:
    build: .
    container_name: scada_master
    networks:
      scada_macvlan:
        ipv4_address: 10.30.0.5  # Assign a static IP on your physical subnet
    # Command to run your master script. 
    command: ["python", "/app/scripts/master_poller.py"]

  # ---------------------------------------------------------
  # Transmission RTU (High-Voltage Substation Server)
  # ---------------------------------------------------------
  tx_rtu:
    build: .
    container_name: tx_rtu
    networks:
      grid_macvlan:
        ipv4_address: 10.30.0.128
    command: ["python", "/app/scripts/server_tx_rtu.py"]

  # ---------------------------------------------------------
  # Distribution IED (Breaker Relay Server)
  # ---------------------------------------------------------
  dist_ied:
    build: .
    container_name: dist_ied
    networks:
      grid_macvlan:
        ipv4_address: 10.30.0.129
    command: ["python", "/app/scripts/server_dist_ied.py"]

  # ---------------------------------------------------------
  # Transformer Monitor (Analog Sensor Server)
  # ---------------------------------------------------------
  transformer_sensor:
    build: .
    container_name: transformer_sensor
    networks:
      grid_macvlan:
        ipv4_address: 10.30.0.130
    command: ["python", "/app/scripts/server_transformer.py"]

# ---------------------------------------------------------
# Network Configuration (CRITICAL STEP)
# ---------------------------------------------------------
networks:
  scada_macvlan:
    driver: macvlan
    driver_opts:
      # VM's primary interface facing pfSense
      parent: ens18.10
    ipam:
      config:
        - subnet: "10.30.0.0/25"     # physical network subnet
          gateway: "10.30.0.254"       # pfSense IP address

  grid_macvlan:
    driver: macvlan
    driver_opts:
      # VM's primary interface facing pfSense
      parent: ens18.20
    ipam:
      config:
        - subnet: "10.30.0.128/25"     # physical network subnet
          gateway: "10.30.0.254"       # pfSense IP address
