services:
  # ---------------------------------------------------------
  # SCADA Master (The Client polling the network)
  # ---------------------------------------------------------
  scada_master:
    build:
      context: .
      args:
        SCRIPT_NAME: master_poller.py
    container_name: scada_master
    networks:
      grid_macvlan:
        ipv4_address: 10.30.0.8  # Assign a static IP on your physical subnet

  # ---------------------------------------------------------
  # Transmission RTU (High-Voltage Substation Server)
  # ---------------------------------------------------------
  tx_rtu:
    build:
      context: .
      args:
        SCRIPT_NAME: server_tx_rtu.py
    container_name: tx_rtu
    networks:
      grid_macvlan:
        ipv4_address: 10.30.0.9

  # ---------------------------------------------------------
  # Distribution IED (Breaker Relay Server)
  # ---------------------------------------------------------
  dist_ied:
    build:
      context: .
      args:
        SCRIPT_NAME: server_dist_ied.py
    container_name: dist_ied
    networks:
      grid_macvlan:
        ipv4_address: 10.30.0.10

  # ---------------------------------------------------------
  # Transformer Monitor (Analog Sensor Server)
  # ---------------------------------------------------------
  transformer_sensor:
    build:
      context: .
      args:
        SCRIPT_NAME: server_transformer.py
    container_name: transformer_sensor
    networks:
      grid_macvlan:
        ipv4_address: 10.30.0.11

# ---------------------------------------------------------
# Network Configuration (CRITICAL STEP)
# ---------------------------------------------------------
networks:
  grid_macvlan:
    driver: macvlan
    driver_opts:
      # VM's primary interface facing pfSense
      parent: ens18
    ipam:
      config:
        - subnet: "10.30.0.0/24"     # physical network subnet
          gateway: "10.30.0.254"       # pfSense IP address
          ip-range: "10.30.0.8/29"
